@charset "UTF-8";
/* b_02_psuedo.css */

/* 
  선택자 {}
  @기능 () {}  
    ->  @media screen and (min-width:320px) {}
    ->  @supports (옵션) {}
  @기능 {}
    ->  @animation 이름 {}
  @기능 "역할"
    -> @charset "UTF-8";
    -> @import url("data");
*/

#wrap {
  width: 100%; height: auto;
  padding-bottom: 1000px;
}


li { 
  width:400px; height:auto; 
  margin:5px; padding:10px;
  background-color: #ddd;
}

.on:hover { background-color: #0af; }
.push:active { background-color: #f0c; }
.link > a:visited {color:#f00;}
.go > a:link {
  display: block; 
  width: 100%; height: 100%; 
  background-color: #fff;}
.go > a:visited { color:#f00; background-color: #afa;}

.none { 
  display:none;
  width:100px; height:300px; 
  background-color: #afa;}
.on:hover > div{ display: block;}
.check > a:focus {
  outline:0;
  background-color: #a77; color:#fff;
}

.front {font-weight:700;}
.front:before,
.front::before {
  content:"앞에 추가-";
  color:#f00;
  display: inline-block; 
  width: 100px; height:10px;
  background-color: #fa0;
}

.back { color:#505; }
.back:after,
.back::after {
  content:"-뒤에 추가";
}

.both:before,
.both::before {
  content:"앞에는 빨간색";
  color:#f00; font-weight: 900;
}

.both:after,
.both::after {
  content:"뒤에는 노란색";
  color:#f70; font-style:italic;
}

.first::first-letter { 
  font-size:2rem; font-weight: bold; color:#f06;
}

.multi_line::first-line {
  text-decoration:underline;
  color:#f70;
}


/*
선택자:hover   -> 마우스 올릴경우 /*
선택자:active  -> 마우스 클릭(누르는경우)

선택자:visited -> 방문한적이 있는(a태그)
선택자:focus   -> 초점이 맞는경우(a, button, input)

선택자::before {content:;} -> 선택자의 내부 내용이전에...
선택자::after {content:;}  -> 선택자의 내부 내용이후에...

선택자:first-letter {}
선택자:first-line {}

*/


/* 
웹페이지 초기화 : reset.css
공통 class 사용 : common.css
font   : font_xx.css

*/

