@charset "UTF-8";
/* b_03_float.css */


#wrap {
  width: 900px; height:auto; min-height:500px;
  margin:auto; padding-bottom:500px;
  border-top:1px solid #333;  background-color: #eee;
}

.ex_part {
  width: 90%; height:auto;
  border-width:1px;  border-style:solid;  border-color:#333;
}

h2 {
  width: 100%;   border-bottom:1px solid #3af;
}
.img_arr {
  width: 100%; height: auto;  background-color: #fdd;
}

.img_arr > img { width:auto; height:200px; }

.img_content {
  width:100%; height:auto; background-color: #cdf;
}

.img_area { 
  float:left; 
  width:150px; height:150px;
  margin-right:15px;
}
.img_area img {width: 100%; height: auto;}
.img_content p {
  width: 100%; height: auto; 
  background-color: #0df;
}