@charset "UTF-8";
/* b_03_float.css */


#wrap {
  width: 900px; height:auto; min-height:500px;
  margin:auto; padding-bottom:500px;
  border-top:1px solid #333;  background-color: #eee;
}

.ex_part {
  width: 90%; height:auto;
  border-width:1px;  border-style:solid;  border-color:#333;
}

h2 {
  width: 100%;   border-bottom:1px solid #3af;
}
.img_arr {
  width: 100%; height: auto;  background-color: #fdd;
}

.img_arr > img { width:auto; height:200px; }

.img_content {
  width:100%; height:auto; background-color: #cdf;
}

.img_area { 
  float:left; 
  width:150px; height:150px;
  margin-right:15px;
}
.img_area img {width: 100%; height: auto;}
.img_content p {
  width: 100%; height: auto; 
  background-color: #0df;
}

/* ----------------------------------------------- */

.img_wrap {
   width: 500px; height: 200px; margin:auto;
   background-color: #fff;
  }
.img_wrap  img { width:80px; height:auto; }

/* ------- */
.img_list {
  width:500px; height:200px; 
  margin:auto; padding:0;
  background-color:#fd0;
}
.img_list li {
  float:left;
  /* display:inline-block; */
  width:80px; height:80px; 
  border-radius:10px;
  background-color: #afd;
  list-style:none;
}
.img_list img {width:auto; height: 100%;}

/* ----------------- */
.content_area {
  width: 800px; height:400px;
  margin:auto;
  background-color: #fa0;
}

.viewer {
  float:right;
  width:120px; height:120px; 
  margin:30px;
}
.viewer img { width:100%; height:auto; }

.content_area p { 
  width: 95%; height: auto; 
  margin:auto;
  background-color: #fff;
}

/* ------------------- */

.list_area { 
  width: 90%; height:800px; margin:auto;
  background-color: #fff;
}

.list_area ul{
  width: 100%; height:auto; padding: 0; background-color: #adf;
}
.list_area li{
  list-style: none;
  width:100px; height:150px; border-radius:5px;
  background-color: #7aa;
}
.list_area img{  width: 100%; height:auto; }