// c_02_dom_make_navi_01.scss
/* c_02_dom_make_navi_01.css */
@import "../common/variable", "../common/mixin";

#wrap { width: 100%; height: auto; min-height:800px; }
#headBox { 
  display:flex; justify-content:space-between;
  width: 100%; height:56px; padding:8px 10px; background-color: $color_gray_op; 
  }

h1 { width: 60px; height:40px; background-color: $color_primary_01;}
.nav_area { width:calc(100% - 70px); height:40px; background-color: #fff;}
.navi_inner { display:flex; justify-content:space-between;
  width: 100%; height: 40px; 
}

.global_part { height:100%; background-color: $color_primary_02;}
.search_part { height:100%; background-color: $color_yellow_01;}
