//e_01_slide_area.scss
/* e_01_slide_area */
@use "sass:math";
@import "../common/variable";
@import "../common/mixin";

#wrap {
  width: 90%; min-width:31.25rem; height: auto;
  margin: auto;
  padding: 1rem; padding-bottom: 31.25rem;
}

#headBox { 
  display: flex; justify-content:space-around;
  width: 100%; height: 5rem; border-bottom: 1px solid #777;
  @at-root h1{ font-size: 1.5rem; }
}// #headBox
#navBox {
  >ul{
    display: flex;
  }
}

#viewBox {
  width: 100%; height: auto;
  margin-bottom: 2rem; 
  padding:1rem; 
  border:1px solid #05a;
  background-color: #ddf;
}

.part { width: 100%; height: auto; margin-bottom: 5rem;}

.view_area {
  position: relative;
  width: 100%; height: 70vh; 
  border:1px solid #a70;
}

.view_btn {
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
  position: absolute; 
  top:50%; left: 0; z-index:200;
  width: 100%; height: 0; 
  > button { 
    $s: 3rem;
    width: $s; height: $s; 
    margin-top:math.div(-$s, 2);
    border-radius: $s; background-color: #afd;
    border:2px solid #555;
  }
}
.view_content {
  width: 100%; height: 100%; 
  background-color: #fdf;
  > ul {
    width: 100%; height: 100%; 
    > li{ 
      display: none;
      width: 100%; height: 100%; 
      padding-top: 5rem;
      text-align: center; color:#fff; font-size: 2rem;
      font-weight: bold;

      $li_bg :(#851BB2, #1b76b2, #71b21b,#b21b34);
      @for $var from 1 through 4 {
        &:nth-child(#{$var}) {background-color:nth($li_bg, $var);}        
      }// for
      &.on { display: block; }
    }// li
  }
}


.slide_02 .view_content ul{
  position: relative;  
  li{
    position: absolute; top: 0; left: 0; 
    &.act{
      display: block;
      z-index:100;
    }
  }
}

.indicator {
  position: absolute; z-index:500;
  right: 0; bottom: 1rem; width: auto; height:auto;
  background-color: #fff; border-radius:3rem;
  > ul {
    display: flex; 
    width: auto; height: 100%; padding: 0.5rem;
    
  }
  li {
    width: 2rem; height: 2rem;
    margin-right: 1rem;
    > a { display: block; width: 100%; height: 100%; border-radius:100%;
    background-color: #354;
    > span {@include blind}
    }
    &.act > a{ background-color: #fa0; transform: scale(1.1);}
    &:last-child{margin-right: 0;}
  }
}