// e_05_slide_movie.scss

#wrap {
  width: 90%; height: auto; min-height: 500px; margin:auto;
}

#viewBox { width: 100%; height: 600px; margin:3rem; 
  .container { 
    position: relative;
    width: 900px; height:100%;
    margin: auto; padding: 5rem 1rem;
  }
  .slide_btn {
    position: absolute; z-index: 200; top: 50%; left: 0;
    width: 100%; height:0; 
    button{
      width:50px; height:50px; padding:0.2rem;
      transform: translateY(-50%);
      background-color: #dff;}
    .next{ float:right; }
    .prev{ float:left; }
    &:hover{ background-color: #7cf;}
  }

  .view_content {
    position: relative;
    width: 100%; height: 100%; background-color: #dfa;
    > ul{ width: 100%; height: 100%; }
    li { position: absolute; left: 50%; top: 50%; margin-left:-175px; margin-top:-125px;
      width:350px; height:250px; border:1px solid #777; padding:1rem; 
      background-image:linear-gradient(45deg, #fa9, #a7f); 
      transition: all 500ms ease;

      button {width: 100%; height: 100%; border-radius:1rem; background-color:rgba(200,200,200,0.7);}
    }
    li:nth-child(1){z-index:10; transform:translateX(-150%) scale(0.3); opacity:0;}
    li:nth-child(2){z-index:20; transform:translateX(-90%) scale(0.7); opacity:1}
    li:nth-child(3){z-index:30; transform:translateX(0) scale(1); opacity:1}
    li:nth-child(4){z-index:20; transform:translateX(90%) scale(0.7); opacity:1}
    li:nth-child(5){z-index:10; transform:translateX(150%) scale(0.3); opacity:0;}
  }
// --------------------------------------------------------
@at-root .modal_area {display:none; position: fixed; top: 0; left: 0; z-index:2000; width: 100%; height: 100%;
            &.on{display:block;}
          .modal_part {position: absolute; top:0; left:0; right:0; bottom:0; 
                        width: 900px; height:500px; margin:auto; padding:1rem;
                        background-color: #fff; border-radius:0.25rem;}
            .modal_close{ position: absolute; top:-1rem; right:-1rem; 
                          width: 2rem; height: 2rem; 
                          button {width: 100%; height: 100%; border-radius:3rem; background-color: #afd;}
                          button:focus {background-color: #fa0; transform: scale(1.2);}
                        }
            .movie{width: 100%; height: 100%; border:1px solid #aaa; 
                video {width: 100%; height: 100%;}
              }

    .modal_bg { position:absolute; top:0; left:0; z-index:-1; 
      width: 100%; height: 100%; background-color: #000; opacity:0.5;}
  }
}



