@charset "UTF-8";
:root {
  --color-white: #fff;
  --color-yellow: #fa0;
  --color-green-op: rgba(50, 200, 50, 0.5);
}

/* css주석과 동일하기에 주석도 변환되어 넘어감 */
body {
  background-color: #fa0;
  background-color: var(--color-yellow);
}

#wrap {
  width: 90%;
  height: 100px;
  margin: auto;
  background-color: #fff;
  background-color: var(--color-white);
}

h1 {
  width: 100%;
  height: 50px;
  background-color: rgba(50, 192, 50, 0.5);
  color: #404040;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h1 > a:hover {
  color: #996600;
}

h1 > a:focus {
  color: black;
}
