@charset "UTF-8";
/* sf_iceLemon.css */

@font-face {
  font-family: 'sf ice lemon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 
  구형브라우저는 : eot 확장자를 지원
  한글은 웹폰트로 전환시 인식지원이 약한경우가 많음 - svg(vector), base64(bitmap)
*/