// About.scss

.card_wrap {
  display:flex; flex-wrap:wrap;
  width: 800px; height: auto;
  background-color: #fff;

  > li { 
    width: 200px; height:300px; 
    margin:1rem; padding:0.5rem; 
    box-sizing: border-box;
    border-radius:0.5rem; 
    border:1px solid #555;
  }
}