@charset "UTF-8";
/* b_02_video.css */

#wrap {
  width: 800px; height: auto;
  margin: auto;
}

.part {
  width: 100%; height:500px;
  margin:50px auto; padding:8px;
  border:1px solid #333;
}

.movie {
  overflow: hidden;
  position: relative;
  width: 100%; height: 450px;
  background-color: #ddd;
  background-image: url("../../multi/video/water-g9ef7013cb_1920.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.video {
  position: absolute;
  top: 50%; left: 50%;
  width:auto;  height:auto;
  min-width:100%; min-height:100%;
  max-width:105%; max-height:105%;
  transform:translate(-50%, -50%);
}
video{display: none;}
/* 
  display:none 의미
  존재하지 않도록 처리하는 속성
  - screen reader에서 동작하지 않도록 처리하는 기능
  - audio/video 요소의 기능은 소리가 담겨져있거나,
    재생이되는 요소이기때문에 
  - video/audio를 아에 나타나지 않아야하는 상황/나타나더라도 
  - 우선 muted
  - 가장 좋은 방법은 코드를(태그를) 삽입/삭제
*/

.movie iframe {
  /* width:560px; height:315px; */
  width: auto; height: auto;
  min-width:100%; min-height:100%;
  border:0;
}