@charset "UTF-8";
/* c_06_animation.css */

#wrap {
  width: 900px; height: auto;
  margin:auto;
  box-sizing: content-box;
  padding-bottom:700px;
}

.part {
  width: 100%; height: auto;
  margin-bottom: 4rem;
  padding: 1rem; 
  border:1px solid #777;
}

ul { width: 100%; height: auto; 
  background-color: #eee;}

li {width: 100%; height: 6rem; 
  margin-bottom: 1rem; 
  padding: 1rem;
  border-bottom: 1px solid #555;}

.part span {
  --size: 4rem;
  display: block; width: var( --size ); height: var( --size );
  border-radius:0.3rem; background-color: #f7a;
  text-align: center; line-height:var( --size ); font-weight: 700;
}

/* -------------------------------- */
/**
 * animation기능 사용을위해서는 2가지 속성을알아야한다.
 * 1. animation 시간/움직임/반복 등의 선택자에 관련된 내용
 * 2. animation의 전체 시간에 따른 비율(%)에 대한 움직임처리
*/

@keyframes myMove {
  0% { transform:translate(0px);}  
  50% { transform:translate(-100px, -100px) rotate(360deg); }
  100% { transform:translate(500px, 100px);}
}

.ani li:nth-child(1) > span {
  /* 이름을 설정 (사용자가 임의로 생성) */
  animation-name:myMove; 
  /* animation 움직이는 시간 */
  animation-duration: 2000ms;
  /* animation 반복여부처리 1은 1번이동, infinite는 무제한반복 */
  animation-iteration-count: 2;
  /* 행동을 처리하는 방향 - 
   * 정방향(normal), 역방향(reverse), 왕복(alternate), 역순으로왕복(alternate-reverse) 
  */
  animation-direction: normal;
  /* 움직임처리 */
  animation-timing-function: linear;
}


.ani li:nth-child(2) > span {
  animation-name: myMove;
  animation-duration:1000ms;
  animation-iteration-count:3;
  animation-direction: alternate;
  animation-timing-function: ease;
  /*animation-fill-mode: backwards, both, forwards */
  animation-fill-mode:both;
  animation-delay: 3000ms;
}

.ani li:nth-child(3) > span {
  animation:myMove 1500ms infinite alternate linear both 500ms;
}

.ani li:nth-child(4) > span {
  animation:myLinear 2000ms infinite alternate; 
  animation-play-state: paused;
}

@keyframes myLinear {
  0% { transform:translateX(0);}
  50% { transform:translateX(400px) scale(1.5) rotate(720deg);}
  100% { 
    transform:translate(700px) scale(1.2) rotate(960deg); 
    background-color: #057; color:#fff;}
}

.ani li:nth-child(4):hover > span {
  animation-play-state: running;
}