/* c_11_responsive_02.css */

#wrap {
  width: 100%; height: auto; min-height:400px;
  background-color: #ccc;
}
#headBox {width:100%; background-color: #fd0;}
#viewBox {width:100%; background-color: #d9d;}
#conBox  {width:100%; background-color: #afa;}
  #conBox ul {width: 100%; height:auto;}
  #conBox li {float:left; background-color: #7af;}
  #conBox li:nth-child(2n+1)  {background-color: #7a7;}

#otherBox{width:100%; background-color: #aff;}
#footBox { width:100%; height:100px; background-color: #a70;}

/* max-width:480px */
@media all and (max-width:480px) {

  #wrap {min-width:320px;}
  #headBox {position:relative; height:100px; }
  h1 {width: 100%; height: 100%; padding:5px 100px; 
    background-color: #aca;}
  #gnbBox { 
    position: absolute; right: 10px; top:30px;
    width:45px; height:45px; background-color: #fff;}
  .nav_btn {width: 100%; height: 100%;}
  .nav_btn > button { width: 100%; height: 100%;}
  .global_navigation { display:none;}

  #viewBox { height:400px; }
  #conBox  { height:auto; }
    #conBox li {width:50%; height:200px;}

  #otherBox{ height:300px; }
  #footBox { height:100px; }

}/* max-width:480px */

/* max-width:768px */
@media all and (min-width:481px) and (max-width:768px) {

  #headBox { height:150px;}
  h1 {float:left; width:100px; height: 100px; background-color: #aca;}
  #gnbBox {
    float:right; width:400px; height:50px;
    margin-top:40px; background-color: #fff; }
  .nav_btn{display:none;}
  .global_navigation {width: 100%; height: 100%;}
  .global_navigation li {
    float:left; width:80px; height: 100%; margin-left:20px;
    background-color: #ddf;
  }
  .global_navigation li:first-child{margin-left: 0;}

  #viewBox { height:300px;}
  #conBox  { height:400px;}  
    #conBox li {width:25%; height:400px; }

  #otherBox{ height:300px;}
  #footBox { height:100px;}

}/* max-width:768px */

/* min-width:769px */
@media all and (min-width:769px) {

  #headBox { height:150px; }
    h1 {float:left; width:100px; height: 100px; background-color: #aca;}
    #gnbBox {
      float:right; width:400px; height:50px;
      margin-top:40px; background-color: #fff; }
    .nav_btn{display:none;}
    .global_navigation {width: 100%; height: 100%;}
    .global_navigation li {
      float:left; width:80px; height: 100%; margin-left:20px;
      background-color: #ddf;
    }
    .global_navigation li:first-child{margin-left: 0;}
    
  #viewBox { height:450px; }
  #conBox  { height:600px; }  
    #conBox li {width:25%; height:600px; }
    
  #otherBox{ display:none;}
  #footBox { height:100px; }

}/* min-width:769px */
