@charset "UTF-8";
/* transform.css */

#wrap {
  width: 800px; height:auto; min-height:500px;  
  margin:auto;}
h1 {
  width: 100%; height: auto;
  margin-bottom: 50px;
  font-size:1.5rem;}
h2{  border-bottom: 1px solid #171717; }

.part {
  width: 95%; height:500px;
  margin:auto; margin-top:50px; padding:8px; border:1px solid #333; }
h3 { background-color: #ddf;}
.part ul { width: 100%; height:auto; 
  background-color: #faa;}
.part li{
  width: 100px; height: 100px;
  border-radius:4px;
  border:1px solid #fa0;
  margin:8px;
  color:#fff;
  background-color: #07a;
}
