// main.scss
/* main.css */

@import "../common/variable";
@import "../common/mixin";
// --------------------------------
  $headH:50px;
// --------------------------------

#wrap {
  width:100%; min-width:320px; 
  height:auto; min-height:800px;
  background-color: #ddd;

  @include mobile{
    min-height:1000px;
    background-color: #fda;
  }
  @include tablet{
    min-width:$mobile;
    background-color: #adf;
  }
  @include laptop{
    background-color: #fdf;
  }
  @include pc{
    background-color: #dfd;
  }
}

  #headBox {
    position: fixed; top: 0; left: 0; z-index:1000;
    width: 100%; height: $headH; background-color: #fff;
  }
  #slideBox {
    width:100%; height:100vh; padding-top:$headH;
    background-color: #dff;
  }  

  // #newBox {}
  // #commercialBox {}
  // #bestBox {}
  // #galleryBox {}
  // #sponsorBox {}
  // #footBox {}