// headBox
$headH:50px !global;

@at-root #headBox {
  position: fixed; top: 0; left: 0; z-index:1000;
  width: 100%; height: $headH ; background-color: #fff;

  // @include mobile{}
  @include tablet{ height: $headH;}
  @include laptop{ height: $headH * 2;}
  @include pc{ height:  $headH * 2;}
}