@charset "UTF-8";
/* b_07_font.css */

#wrap {
  width: 100%; padding-bottom: 500px;
}

p {
  font-family: 'IBM Plex Sans KR', 'Ephesis', 'Akronim', 'sf ice lemon', cursive, sans-serif;
  border:1px solid #333;
}

p:nth-of-type(1) {
  font-weight:100;
  font-style: italic;
  line-height:1.6;
  letter-spacing:2px;
  word-spacing: 0;
  text-align: justify;
  word-break:keep-all;
  font-size:1em;
}
p:nth-of-type(2) {
  display: none;
  font-weight:400;
  line-height: 130%;
  letter-spacing:0;
  word-spacing:-3px;
  text-align: justify;
  word-break:break-all;
}

p:nth-of-type(3) {
  /* font:weight style size/line family,family,family...; */
  font:10px/1.2 'sans-serif';
  font-size:0;
  width:500px;
  line-height:1.2;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  word-spacing:-4px;
}

