@charset "UTF-8";
/* b_09_background.css */

#wrap {
  width: 900px; height:auto;
  padding-bottom: 1000px; box-sizing: content-box;
}

.part {
  width: 100%; height:400px;
  border:1px solid #333;
  box-sizing: border-box;
  margin-bottom: 50px;
  background-color: #ddd;
}

.bg_01 {
  /* 기준 작성중인 css문서 */
  background-image: url("../../img/icon/arrow.svg");
  /* repeat || no-repeat || repeat-x || repeat-y */
  background-repeat:no-repeat;
  /* 0 0 || left top || right top || right bottom || left center ..... X */
  background-position:center;
}

.bg_02 {
  background-image: url("../../img/background/background_02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* contain(무조건 다보이게) || cover(빈틈없이 꽉차게) || 
     단위(정한단위값의 크기값으로), width/height값이 존재 */
  background-size:100% 100%;
}

.bg_03 {
  background-image: url("../../img/icon/chinchilla.png");
  background-repeat: no-repeat;
  background-size:initial;
  /* 위치를 설정시 좌표를 직접 수치로 입력하는 것을 권장 (x y) */
  background-position:110% 50%;
}

.bg_04 {
  background-image: url("../../img/icon/whale.png");
  background-repeat: no-repeat;
  background-size:initial;
  /* 위치를 설정시 좌표를 직접 수치로 입력하는 것을 권장 (x y) */
  background-position:850px 50%;
}

.bg_05 {
  /* background:url("../../img/icon/pig.png") no-repeat 50% 50%; */
  /* background-size: initial; */

  background-position: 50% 0, 50% 50%, 100% 80%;
  background-image: url("../../img/icon/arrow.svg"), 
                    url("../../img/icon/chinchilla.png"), 
                    url("../../img/icon/pig.png");
  background-repeat: no-repeat, repeat-x, no-repeat;
  background-size: 20px auto, 50px auto, auto 25px; 
  
  /* background: url("../../img/icon/arrow.svg") no-repeat 50% 0,
              url("../../img/icon/chinchilla.png") repeat-x 50% 50%,
              url("../../img/icon/pig.png")  no-repeat  100% 80%;
  background-size: 20px auto, 50px auto, auto 25px; */
}

.bg_06 {
  /* background-image:linear-gradient(각도, colorA, colorB); */
  /* background-image: linear-gradient(45deg, #bbb, #fc0, #f07, #547, rgba(45,200,45,0.2)); */
  background-image: 
    linear-gradient(45deg, #bbb 30%, #f50 40%, rgba(0,0,0,0) 40% );
}

.bg_07 {
  /* background-image: radial-gradient(closest-side, #fa0 10%, #77a, #fff); */
  background-image: radial-gradient(circle at 100%, #af0, #a70);
}

.bg_08 {
  background-image: url("../../img/background/background_04.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-attachment: fixed;
}

.bg_09 {
  width:114px; height: 112px; 
  background-image: url("../../img/icon/business_icons.jpg");
  background-repeat: no-repeat;
  /* (110px 24px) */
  /* background-position:-110px -24px; */
  background-position:-311px -397px;
  background-size: initial;
}