@charset "UTF-8";
/* c_01_position_set.css */

#wrap {
  width: 800px; height: 2500px; padding-top:100px;
  background-color: #eee;
}

h1 {
  position: fixed; top: 0; left: 0; z-index:100;
  width: 100%; height: auto;
  padding:20px; text-align: center;
  background-color: #faa;
}

.part {
  position:relative; z-index:200;
  width: 95%; height:600px;
  margin:auto; margin-top: 30px;
  padding:50px;  box-sizing: border-box;
  border:10px solid #777;
  background-color: #faa;
  background-clip: content-box;
}

.btn {
  position: absolute; right: 30px; bottom:30px;
  width:200px; height:60px;
  background-color: #add;
}
.btn > button {
  width: 100%; height: 100%; box-sizing: border-box;}
.btn > button:hover {background-color: #9aa;}
.btn > button:focus {outline:5px solid #333;}

.card {
  position: relative;
  width: 250px; height: 340px;
  margin-top: 50px auto;
  background-color: #ccc;
  box-shadow:3px 3px 3px #333;
}

.card  a {
  display: block; width: 100%; height: 100%;
  padding:10px; box-sizing: border-box;
}

.view_card {
  width:100%; height:100%; 
  padding:25px; box-sizing:border-box; 
  background-color: #fff;
}
.blind_card {
  display: none;
  position: absolute; top: 0; left: 0;
  width:100%; height:100%; 
  padding:25px; box-sizing:border-box;   
  color:#fff; font-weight: 900;
  background-color: rgba(0,50,50,0.85);
}

.card > a:hover .blind_card,
.card > a:focus .blind_card {
  display:block;
}