@charset "UTF-8";
/* c_01_position_set.css */

#wrap {
  width: 800px; height: 2500px; padding-top:100px;
  background-color: #eee;
}

h1 {
  position: fixed; top: 0; left: 0; z-index:100;
  width: 100%; height: auto;
  padding:20px; text-align: center;
  background-color: #faa;
}

.part {
  position:relative; z-index:200;
  width: 95%; height:600px;
  margin:auto; margin-top: 30px;
  padding:50px;  box-sizing: border-box;
  border:10px solid #777;
  background-color: #faa;
  background-clip: content-box;
}

.btn {
  position: absolute; right: 30px; bottom:30px;
  width:200px; height:60px;
  background-color: #add;
}
.btn > button {
  width: 100%; height: 100%; box-sizing: border-box;}
.btn > button:hover {background-color: #9aa;}
.btn > button:focus {outline:5px solid #333;}

.card {
  position: relative;
  width: 250px; height: 340px;
  margin-top: 50px auto;
  background-color: #ccc;
  box-shadow:3px 3px 3px #333;
}

.card  a {
  display: block; width: 100%; height: 100%;
  padding:10px; box-sizing: border-box;
}

.view_card {
  width:100%; height:100%; 
  padding:25px; box-sizing:border-box; 
  background-color: #fff;
}
.blind_card {
  display: none;
  position: absolute; top: 0; left: 0;
  width:100%; height:100%; 
  padding:25px; box-sizing:border-box;   
  color:#fff; font-weight: 900;
  background-color: rgba(0,50,50,0.85);
}

.card > a:hover .blind_card,
.card > a:focus .blind_card {
  display:block;
}

.nav_list { 
  width: 600px; height: 100px;
  margin:auto; margin-top: 100px; 
  border:1px solid #171717;
  background-color: #fff;
}

.nav_list ul {
  width:100%; height:30px;
}
.nav_list li {
  position: relative;
  float:left;
  width:auto; height:auto;
  margin-right:10px;
  /* background-color: #fd5; */
}
.nav_list li:last-child { margin: 0;}

/* css에 span요소가 존재할경우 사용방법 */
.bar {
  display: none;
  float:left; width: 1px; height: 10px;
  margin-left:-5px;
  background-color: #777;
}

/* span대신 가상요소 사용방법 */
.nav_list li:before,
.nav_list li::before{
  display:none;
  content:""; float:left; width: 1px; height: 10px;
  margin-left:-5px; margin-top: 5px;
  background-color: #59a;
}
.nav_list li:nth-child(1):before,
.nav_list li:nth-child(1)::before{ display: none; }

/* 가상요소 :after 이용 */
.nav_list li:after,
.nav_list li::after{
  content:""; display: block; 
  position: absolute; top:0; bottom:0;  right:-5px;
  margin:auto;
  width: 0; height:10px; border-right:1px solid #19a;
  display: none;
}
.nav_list li:last-child:after{ display: none;}

/* li에 border를 활용하는 방법 */
.nav_list li{
  height: 10px;
  padding-right:10px; margin-right: 10px;
  border-right:1px solid #f06;
}
.nav_list li:last-child{  border:0; padding-right: 0; }


/* .nav_list a {
  background-color: #7ff;
}  */
