@charset "UTF-8";
/* c_03_slide_banner.css */
#wrap {  width: 1280px; height: auto;  padding-bottom:700px;}
h1 {
  width: auto; height: auto;  border-bottom: 1px solid #333;
  margin-bottom: 30px;}
.slide {
  width:900px; height:750px; margin:auto; 
  margin-bottom:50px; padding:30px 10px; 
  border:1px solid #333; }
.slide_wrapper {
  position: relative; width: 800px; height:500px;
  margin:auto; background-color: #ccc;}
.btn{
  position:absolute; top: 50%; left: 50%; 
  width: 114%; height:0; 
  background-color: #aaa; transform:translateX(-50%);}
.btn button {
  width:40px; height: 40px; border-radius:100%;
  background-color: #acf; transform:translateY(-50%); }

.btn button:hover {  box-shadow:3px 3px 3px #59a;}
.btn button:focus {  box-shadow:3px 3px 3px #157 inset; background-color: #7aa;}

.next {float:right;}
.prev {float:left;}


.indicator{
  position:absolute; bottom:-50px; left:50%; 
  width:100%; height:30px; padding:5px; box-sizing:content-box;
  transform:translateX(-50%);
  background-color: #555;
}
.indicator ul {  width:100%; height: 100%; text-align: center;}

.indicator li {
  /* float:left;*/ 
  display:inline-block; width: 30px; height: 30px; margin-right:30px; }
.indicator li:last-child { margin-right: 0;}

.indicator a {
  display: block; width: 100%; height: 100%;
  background-color: #fd7; border-radius:50px;
}
.indicator li.action  { width:60px; }
.indicator li.action > a { box-sizing: border-box; background-color: #d05;}

.indicator a:hover{ box-shadow:3px 3px 3px #540;}
.indicator a:focus{ border:3px solid #310; outline:0;}

.slide_content { width: 100%; height: 100%; overflow: hidden;}
.slide_con_wrap {position: relative; height: 100%; }

/* ---------------------------------------------------------------- */
