@charset "UTF-8";
/* css/src/b_01_layout_base.css */

.ex_part {
  width: 900px; height: 900px;
  border-width:1px; 
  border-style:solid; 
  border-color:#333;
}
/* --------------------------------- */
.box_01 {
  width:600px; height:600px;
  margin:auto;
  background-color: #ada;
  border-width:5px;
  border-style: solid;
  border-color:#ada;
}
/*
.inner_01 {
  width: 100%; height: 200px;
  background-color: #55d;
}
.inner_02 {
  width:100%; height:200px;
  background-color: #ddd;
}
.inner_03 {
  width:100%; height:200px;
  background-color: #fa0;
}
*/

.box_01 > div {
  width: 100%; height: 200px;
}
.inner_01 { background-color:#55d; }
.inner_02 { background-color:#ddd; }
.inner_03 { background-color:#fa0; }
/* --------------------------------- */

.box_02 {
  width:600px; height:600px;
  margin:auto;
  background-color: #ada;
  border-width:5px;
  border-style: solid;
  border-color:#ada;
}

.box_02 > div {
  float:left;
  width:200px; height:100%; 
}

/* ---------------------------------------- */
.box_03 {
  width:600px; height:600px;
  margin:auto;
  background-color: #ada;
  border-width:5px;
  border-style: solid;
  border-color:#ada;
}

.box_03 > div {
  width: 200px; height:50%;
  margin:auto;
}

/* ---------------------------------------- */
.box_04 {
  width:600px; height:auto; min-height:200px;
  margin:auto;
  background-color: #ada;
  border-width:20px;
  border-style: solid;
  border-color:#f07;
}

.box_04 > div { width: 100%; height:200px; padding-top:15px;}

.box_04 .insert { height:170px; }
.inner_01 .insert { width:60%; margin:auto; background-color:#fc0; }
.inner_02 .insert { width:45%; margin:auto; background-color:#d33; }
.inner_03 .insert { width:60%; background-color:#57f; }

/* --------------------------------------------------- */
.box_06 {
  width:600px; height:auto; min-height:200px;
  margin:auto;
  background-color: #ada;
  border-width:20px;
  border-style: solid;
  border-color:#f07;
}

.box_06 > div {width: 100%; height:auto;}

.inner_01 .insert_01 { 
  float:left;
  width:230px; height:200px; 
  background-color: #c70;
}
.inner_01 .insert_02 { 
  float:right;
  width:230px; height:200px; 
  background-color: #faa;
}


.inner_02 > .insert_01 {
  float:left; 
  width:230px; height:200px; 
  background-color:#345;
}
.inner_02 > .insert_02 {
  float:left; 
  width:170px; height:200px; 
  background-color:#f6a;
}
.inner_02 > .insert_03 {
  float:left; 
  width:200px; height:200px; 
  background-color:#67f;
}

.inner_03 > .insert_01 {
  float:left; 
  width:300px; height:200px; 
  background-color: #ddd;
}
.inner_03 > .insert_02 {
  float:left; 
  width:300px; height:200px; 
  background-color: #f6a;
}


.clearfix{height:auto;}
.clearfix:after,
.clearfix::after{
  content:""; display:block; 
  width: 100%; height: 0; clear:both;
} 
