@charset "UTF-8";
/* b_02_layout_test_01_result.css */

/* reset.css 
=============================== */
body {margin: 0;
  background-color: #000070;}

h1,h2,h3,h4,h5,h6,
p,pre,address,
ul,ol,li,dl,dt,dd {
  margin: 0; padding: 0;
  font-size:16px; font-family:sans-serif; }

ul,ol { list-style:none;}

a { text-decoration: none; color:inherit;}
button {border:0; background-color: transparent; cursor: pointer;}

/* common.css 
============================= */
.clearfix:after,
.clearfix::after{
  content:""; display: block; clear:both;
}


/* design 
=================================== */
#wrap {
  width: 600px; height: auto; min-height:500px;
  margin:auto; margin-top: 50px;
  padding-bottom: 500px;
  /* background-color: #afa; */
}

/* #header 
--------------------------------------- */
#header{
  width:100%; height:100px; background-color: #f06;}
  h1 {
    float: left; width: 120px; height: 100px; 
    background-color: #dfd;}
  .navigation {
    float:right; width: 400px; height: 100px; 
    padding-top:50px; box-sizing: border-box;
    background-color: #fa0; }
  .navigation > ul {float:right; width:auto; height: auto; background-color: #fff;}
  .navigation li {
    float:left; width:40px; height:50px; 
    margin-left:10px;
    background-color: #35a; color:#fff;}
  .navigation li a { display: block; width: 100%; height: 100%; background-color: #ca7; }
  .navigation li:first-child { margin-left:0; }

/* #section 
--------------------------------------- */
#section{
  width:100%; height:auto; background-color: #fa0;}
  #section > div { float:left; height:300px; }
  .sect_01 { width:40%; background-color: #7a7; }
  .sect_02 { width:60%; background-color: #777; }

/* #aside
--------------------------------------- */
#aside {
  width: 100%; height:auto;
}
#aside > div {
  float:left;
  width: calc(100% / 3);
  height:300px;
}
.side_01{ width:33.333333%; background-color: #fcf;}
.side_02{ width:33.333334%; background-color: #aca;}
.side_03{ width:33.333333%; background-color: #d7d;}

/* #article
--------------------------------------- */
#article { 
  width: 100%; height:auto; 
  background-color: #7a7;}
  .art_01 { 
    float:left;
    width:calc(100% / 3); height:300px;
    background-color: #35a;
  }
  .art_02 { 
    float:left;
    width:calc(100% / 3 * 2); height:150px;
    background-color: #f3a;
  }
  .art_03 { 
    float:left;
    width:calc(100% / 3 * 2); height:150px;
    background-color: #a7a;
  }

/* #content  
--------------------------------------- */
#content {width: 100%; height:auto;}
/* #content .art_01 {float:right; height: 500px;}
#content .art_03 {height:350px;} */

#content .art_01 {
  float:left; width: 70%; height: 150px; }
#content .art_02 {
  float:left; width: 70%; height: 350px; }
#content .art_03 {
  float:left; width: 30%; height: 550px; 
  margin-top:-150px;
}


/* #footer 
--------------------------------------- */
#footer{
  width:100%; height:100px; background-color: #0af;}
