@charset "UTF-8";
/* b_03_layout_test_02_result.css */
/* 속성작성요령: 
  선택자{
    존재유무/형태 -> display, overflow
    위치 -> position
    크기 -> width -> height 
    공간 -> margin -> box-sizing -> padding -> border
    서체 -> font-weight, font-style, font-size, line-height, family..... 
    배경처리 -> image, repeat, position, size, clip ...
    기타효과 -> shadow, ...
    애니메이션 
  }
*/
/* reset.css ==================================================== */
html,body {width:100%; height: 100%;}

html,body,
h1,h2,h3,h4,h5,h6,
div,p,pre,address,
ul,ol,li,dl,dt,dd {
  margin: 0; padding: 0; font-family: 'apple SD', 'myriad pro',arial,sans-serif;
  vertical-align: baseline;
}

ol,ul { list-style:none; }
a { color:inherit; text-decoration: none;}
table,tr,td,th,thead,tbody,tfoot {
  border:1px solid #333; border-spacing: 0; border-collapse: collapse;
}
button { border:0; cursor: pointer;}
em,address { font-style: normal; }
strong,b { font-weight:normal; }
abbr {text-decoration: none;}


/* common.css ==================================================== */
.clearfix:after,
.clearfix::after{
  content:""; display: block; clear:both;
}

/* design ==================================================== */
/* work_page common */
.box_space { margin-bottom: 80px;}

.area_title {
  width: 1300px; height: 50px;
  margin:auto; margin-bottom: 30px;
  background-color: #0ac; }
  
.blind { 
  overflow:hidden; width: 0; height: 0; 
  margin: 0; padding: 0;
}


/* layout page design */
#wrap {
  width:100%; height: auto; min-height:500px;
  margin:auto;
}

#wrap > div { width:100%; }

/* #headBox 
================================== */
#headBox {
  height: 150px; background-color: #ddd;
  box-sizing:border-box; padding:34px 50px 0;
}
  h1 {
    float:left;
    width:250px; height:80px;
    background-color: #0ac;
  }
  .gnb {
    float:right;
    width:850px; height: 80px;
    margin-right:75px;
    background-color: #0ac;
  }
    .gnb ul {
      width:auto; height: auto;
      padding:5px 0;
    }
    .gnb li {
      float:left;
      width: 150px; height: 70px;
      /* margin-right:20px; */
      margin:0 10px;
      background-color: #fd0;
    }
    .gnb li:last-child {margin-right: 0;}

  .unb {
    float:right;
    width:250px; height:80px;
    background-color: #0ac;
  }

/* #adViewBox 
================================== */
#adViewBox { 
  height: 750px; 
  box-sizing:border-box; padding-top: 28px;
  background-color: #aaa;
}
  .view_outer {
    width: 1300px; height: 600px;
    margin:auto; margin-bottom: 28px;
    background-color: #0ac;
  }
  .view_indicator {
    width: 850px; height: 60px;
    margin:auto; 
    background-color: #0ac;
  }

  .view_indicator ul {
    width: 100%; height:auto;
    padding:10px 15px; 
  }
  .view_indicator li {
    float:left; 
    width:120px; height: 40px; 
    margin-right:20px;
    background-color: #fa0;
  }
  .view_indicator li:last-child{ margin-right: 0;}

/* #localNavBox 
================================== */
#localNavBox {
  height: 250px; 
  margin-bottom:50px; 
  box-sizing: border-box; padding-top: 18px;
  background-color: #999;
}
  .local_nav_outer {
    width: 1500px; height: 196px;
    margin:auto;
    background-color: #0ac;
    padding:23px 75px;
  }
  .local_nav_outer ul {
    width: 100%; height: auto;
    box-sizing: border-box;
    
  }
  .local_nav_outer li {
    float:left;
    width:200px; height:150px;
    margin-right: 30px;
    background-color: #fa0;
  }
  .local_nav_outer li:last-child {margin-right: 0;}

/* ====================================== */
/* .content_box_wrap 
      #popularContentBox
      #newContentBox
      #recommendedContentBox
*/
.content_box_wrap { width: 100%; height: auto; }


/* #popularContentBox 
================================== */
#popularContentBox {
  height: 600px; background-color: #aaa;
}
  .pop_con_area {
    width: 1300px; height: 470px;
    margin:auto; 
    box-sizing:border-box;
    padding:20px 63px;
    background-color: #0ac;
  }
  .card {
    float:left;
    width: 350px; height: 430px;
    margin-right: 62px;
    box-sizing: border-box; padding: 8px;
    background-color: #fcf;
  }
  .card:last-of-type {
    margin-right: 0;
  }

  .card > div {
    width: 100%; height: 200px;
    background-color: #f5f;
  }
  .img_part { margin-bottom: 14px;}



/* #newContentBox 
================================== */
#newContentBox {
  height: 900px; 
  box-sizing:border-box; padding-top: 60px;
  background-color: #ddd;
}
  .new_con_area {
    width: 1300px; height:700px;
    margin:auto;
    background-color: #0ac;
  }
  .new_con_title_area{
    float:left;
    width: 640px; height:700px;
    background-color: #da0;
  }
    .new_con_title_img{
      width:100%; height:350px; 
      background-color: #aca;
    }
    .new_con_title_text{
      width:100%; height:350px;
      box-sizing:border-box; padding:20px; 
      background-color: #aff;
      background-clip:content-box;
    }

    /* 
    background-clip: 배경색상을 칠하는 범위;
      content-box  : 내용만 칠해라
      padding-box  : padding범위까지 칠해라
      border-box   : 외곽선까지 칠해라
    */
  .new_con_more_area {
    float:right;
    width:630px; height:400px;
    background-color: #da0;
  }
  
/* #recommendedContentBox 
================================== */
#recommendedContentBox {
  height: 600px;
  box-sizing: border-box; padding-top: 30px; 
  background-color: #aaa;
}
  .recon_con_area{
    width: 1300px; height:auto;
    margin:auto; padding:20px 0;
    background-color: #0ac;
  }

  .recon_con_area ul { width: 100%; height:auto;} 
  .recon_con_area li {
    float:left;
    width:300px; height:400px;
    margin-right:33px;
    background-color: #fcf;
  }
  .recon_con_area li:last-child {margin-right: 0;}
  .recon_img {
    width: 100%; height:210px;
    background-color: #a5a;
  }
  .recon_content {
    width: 100%; 
    height: 190px; height:calc(100% - 210px);
    box-sizing: border-box;
    padding:15px;
    background-color: #a8a;
    background-clip:content-box;
  }  


/* #communityBox 
================================== */
#communityBox {
  height: 800px;
  box-sizing: border-box; padding-top: 60px; background-color: #ddd;    
}
  .community_area{
    width: 1300px; height: 600px;  margin:auto; background-color: #0ac; }

  .community_area ul {  width: 100%; height: auto;  }
  .community_con {
    width: 100%; height: 160px;  margin-bottom:60px; background-color: #dd0; }
  .community_con:last-child{ margin-bottom: 0;}

  .community_con:before,
  .community_con::before{
    content:"Q & A"; float:left;
    width:300px; height: 160px;
    font-size:80px; text-align: center; line-height:160px; }

  .community_con > dl { 
    width:980px;
    width:calc(100% - 320px); height: 100px;
    margin-left:320px;
    padding-top:30px;
  }

  .community_con dt {
    width: 100%; height:50px; 
    margin-bottom: 20px;
    background-color: #fa0;
  }
  .community_con dd {
    width: 100%; height:60px;
    background-color: #fa0;
  }


/* #miniAdBox 
================================== */
#miniAdBox {
  height: 400px; 
  box-sizing: border-box; padding-top: 40px;
  background-color: #aaa;
}
  .mini_ad_outer{
    width: 1500px; height:300px;
    margin:auto;
    background-color: #0ac;
  }

/* #footBox 
================================== */
#footBox {
  height: 200px; 
  box-sizing: border-box; padding-top: 22px;
  background-color: #999;
}
.foot_outer {
  width: 1300px; height: 140px;
  margin:auto;
  background-color: #0ac;
}
