@charset "UTF-8";
/* b_03_layout_test_02_result.css */
/* 속성작성요령: 
  선택자{
    존재유무/형태 -> display, overflow
    위치 -> position
    크기 -> width -> height 
    공간 -> margin -> box-sizing -> padding -> border
    서체 -> font-weight, font-style, font-size, line-height, family..... 
    배경처리 -> image, repeat, position, size, clip ...
    기타효과 -> shadow, ...
    애니메이션 
  }
*/
/* reset.css ==================================================== */
html,body {width:100%; height: 100%;}

html,body,
h1,h2,h3,h4,h5,h6,
div,p,pre,address,
ul,ol,li,dl,dt,dd {
  margin: 0; padding: 0; font-family: 'apple SD', 'myriad pro',arial,sans-serif;
}

ol,ul { list-style:none; }
a { color:inherit; text-decoration: none;}
table,tr,td,th,thead,tbody,tfoot {
  border:1px solid #333; border-spacing: 0; border-collapse: collapse;
}
button { border:0; cursor: pointer;}
em,address { font-style: normal; }
strong,b { font-weight:normal; }
abbr {text-decoration: none;}


/* common.css ==================================================== */
.clearfix:after,
.clearfix::after{
  content:""; display: block; clear:both;
}

/* design ==================================================== */

#wrap {
  width:1600px; height: auto; min-height:500px;
  margin:auto;
}

#wrap > div { width:100%; }

/* #headBox 
================================== */
#headBox {
  height: 150px; background-color: #ddd;
  margin-top:50px;
}

/* #adViewBox 
================================== */
#adViewBox { 
  height: 750px; background-color: #aaa;
}

/* #localNavBox 
================================== */
#localNavBox {
  height: 250px; background-color: #999;
  margin-bottom:50px;
}


/* #popularContentBox 
================================== */
#popularContentBox {
  height: 600px; background-color: #aaa;
}

/* #newContentBox 
================================== */
#newContentBox {}

/* #recommendedContentBox 
================================== */
#recommendedContentBox {}

/* #communityBox 
================================== */
#communityBox {}

/* #miniAdBox 
================================== */
#miniAdBox {}

/* #footBox 
================================== */
#footBox {}
