* {margin: 0; padding: 0; border: 0;}

/* ------------------------------ */

.wrap {
  position: relative;
  width: 800px; height: 600px;
  margin:50px auto;
  background-color: #f0a;
  /* border-top:1px solid #f0a; */
}

.q_8 > .modal {
  --width:500px;

  width:var(--width); height: 150px;
  background-color: #0af;
  /* 방법1
  margin-top:225px;
  margin-left: 150px;
  */
  /* 방법2 */
  position:absolute;
  top: 30%; left:50%; 
  margin-left:-250px;
  margin-left:calc( var(--width) / -2 );
}

/* -------------------------------- */
.q-9 > .side_indicator {
  position: absolute; 
  right:30px;
  width: 50px; 
  /* height: 350px; */
  height: auto;
  background-color: #0af;

  /* 방법 1 
  top:125px;
  */
  /* 방법 2 
  */
  top:50%; margin-top:-175px;
}

.q-9 ul {
  list-style:none;
  width: 100%; height:auto;
  padding-top:10px; padding-bottom:10px;
}
.q-9 li {
  width: 30px; height: 30px; 
  margin:0 auto;
  margin-bottom:30px;
  border-radius:100%;
  text-align: center;
  line-height:30px;
  background-color: #fff;
}
.q-9 li:last-child { margin-bottom: 0; }
/* ----------------------------------------------- */

.q_10 .side_indicator{  
  position: absolute;  right:30px; top:30%;
  width: 50px; height:auto; background-color: #0af; }
.q_10 ul {
  list-style: none; width: 100%; height: auto;
  padding:10px; box-sizing: border-box; }
.q_10 li {
  position: relative;
  width:30px; height: 30px; margin-bottom:20px; }
.q_10 li:last-child {margin-bottom: 0;}
.q_10 a {
  display:block; width: 100%; height: 100%; 
  border-radius:100%; background-color: #fff; }
.q_10 span {
  display: none; 
  position: absolute; right:50px; top:-5px;
  width: 200px; height: 40px;
  box-sizing: border-box; padding:8px;
  color:#fff; background-color: #06c; }
.q_10 a:hover + span { display: block;}

/* --------------------------------------------- */

.siblings {
  width:400px; height:800px;
  margin:auto;
  border:1px solid #777;
}

.siblings:hover  dt {
  background-color: #ccf;
}

.siblings > dt:hover + dd {
  background-color: #faa;
}

.siblings > dt:hover ~ dd {
  background-color: #afa;
}

/* --------------------------------- */
/* q-11 */

/* .wrap 위에 작성 */
.q11 { position: relative; }
.title_box {
  position: absolute; z-index:300;
  top: 30%; left: 20px;
  width: 450px; height: 200px;
  padding:10px; box-sizing: border-box; 
  color:#fff;
  background-color: rgba(150,0,150,0.5);}

h1 {font-size: 1.5rem;
  text-transform:capitalize; }
p { font-size: 1rem; }

.img2 { 
  position: absolute; bottom: 0;
  width: 250px;}

.img_box_01{ 
  right: 250px; z-index:200;
  height: 400px; background-color: #5bb;}
.img_box_02{ 
  right: 20px;
  height: 500px; background-color: #798;}



  /* 
    background-color: hsla(270, 50%, 50%, 1); 
    background-color: #aa00aa99; 
    opacity:50%;
  */