@charset "UTF-8";
/* b_05_layout_test_gcass_main_result.css */
/* variable.css */
:root{
  /* color */
  --color-white  :#fff;
  --color-black  :#171717;
  --color-yellow1: #fff30d;
  --color-yellow2: #baa50c;
  --color-gray1  : #adadad;
  --color-gray2  : #7d7d7d;
  --color-gray3  : #505050;
  --color-gray4  : #757575;

  /* font */
  --font-point   : 3.125rem;
  --font-title   : 2rem;
  --font-normal  : 1rem;
  --font-regular : 0.875rem;
  --font-small   : 0.75rem;
}




/* design.css */
#wrap {
  position: relative;
  width: 61.25rem; height: 53.125rem; 
  padding-top: 1.875rem;
}

#headBox {
  float:left;
  width: 15.625rem; height: 44.375rem; 
  /* padding-top:3.5rem; padding-left:2.625rem; padding-right:3.25rem; padding-bottom:6.4375rem; */
  padding:3.5rem 3.25rem 3.125rem 2.625rem;
  background-color: var(--color-gray4);
}

h1 {
  width: 100%; height: 6.5rem;
  margin-bottom: 2.625rem;
  background-color: #fa0;
}

.gnb {
  width: 100%; height: auto; min-height:18.75rem;
  font-size:var(--font-title);
  color:var(--color-white);
  text-transform:uppercase;
  line-height:1;
  letter-spacing:-0.0625rem;
}
.gnb > ul {
  width: 100%; height:auto;
  padding-right:1.25rem;
}
.gnb li {
  width: 100%; height: 2.5rem; 
  margin-bottom: 1.5rem; padding-bottom:0.3125rem;
  border-bottom:0.25rem solid var(--color-white);
}
.gnb a { 
  display: block; width: 100%; height: 100%; 
  padding:0.1875rem 0.5rem; padding-right: 0.25rem; box-sizing:border-box;
  color:inherit;
}
.gnb a:hover { text-decoration: none;}

.gnb i {
  float:right; font-size:var(--font-normal);
  line-height:1.9375rem;
}

.gnb li:last-of-type{ 
  width: 6.875rem; height:6.875rem; margin-left: 1.25rem; border:0;
  font-size:var(--font-point);
  color:var(--color-gray4);
  text-align: center; 
  line-height:6.875rem;
  letter-spacing:-0.0625rem;
}

.gnb li:last-of-type a {
  padding:0.1875rem; border-radius:100%;
  background-color: var(--color-white); }
.gnb li:last-of-type span { font-size:var(--font-title); }


/* ======================================= */
#viewBox {
  position:relative; float:right;
  width:calc(100% - 15.625rem); height:44.375rem;
  background-color: #adf;
}
#viewBox:before{
  content:""; display:block; width: 100%; height: 3.125rem;
  background-color: #fa0;
}

.view_img {
  position:absolute; right: 18.5625rem; bottom: 4rem; z-index:10;
  width: 20.5rem; height: 32.5rem;
  background-color: #ddf;
}
.view_content {
  position:absolute; right: 3rem; bottom:7.5rem;
  width: 18.375rem; height: 27.75rem;
  background-color: #fda;
}


/* ======================================= */
#sideBox{
  position: absolute; top: 0; left: 0;
  width: 100%; height:1.875rem;
  background-color: var(--color-gray2);
}
.unb {
  float:right;
  width: auto; min-width:18.75rem; height:100%;
  background-color: #fff;
}

/* ======================================= */
#footBox {
  clear:both; width:100%; height:auto;
  padding:0.375rem 2.5rem 1.5625rem;
  border-top:0.0625rem solid var(--color-gray3);
  background-color: var(--color-white);
}

#footBox h2 {
  float:left;
  width: 4.875rem; height: 3.3125rem; 
  margin-top: 0.375rem; background-color: #ddd;
}
.site_service {
  float:left; width: 5.9375rem; height: 2.1875rem; 
  margin-top: 1.5625rem; margin-left:2.1875rem; background-color: #aaa;
}
address {
  float:left;
  width: 21.875rem; height: 2.8125rem;
  margin-top: 1rem; margin-left: 1.25rem; background-color: #aaa;
}
.other {
  float:right; width: 18.75rem; height: 5.125rem; background-color: #ccc;
}