@charset "UTF-8";
/* b_08_naver_join_result.css */
html,body { width:100%; height:100%; }

#wrap {
  width: 100%; height: auto; min-height: 100%;
  padding-top:40px;  
  /* background-color: #F5F6F7; */
  background-color: #999;
}

h1 {
  width:160px; height: 40px;
  margin:auto; margin-bottom:30px;
  text-align: center; line-height:40px; font-size:1.2rem;
  background-color: #03C75A;
}

/* --------------------------------- */
#joinBox {
  width: 500px; height:auto; min-height:500px;
  padding:20px; margin:auto; margin-bottom: 30px;
}

fieldset {
  width: 100%; height: auto; min-height:30px;
  margin-bottom:30px;
  background-color: #fff;
}

fieldset > ul{ width: 100%; height: auto; }
fieldset li { 
  width: 100%; height: auto; min-height:52px;
  margin-bottom: 12px;
  background-color: #fdd;
}
fieldset li:last-child {margin-bottom: 0;}

label{ 
  display:block; 
  width: 100%; height: auto; margin-bottom: 5px; 
  font-weight: 600; font-size:1.125rem;
}
.input_part {
  width: 100%; height: 52px;
  padding:10px 12px;
  border:1px solid #c7c7c7;
  border-radius: 0.1rem;
}
.input_part input { 
  float:left; width: 325px; height: 100%; 
  background-color: transparent;
}

fieldset .full {width: 100%; height: 100%; background-color: transparent;}

.input_part span { 
  float:right; width:auto; height: 100%; 
  color:#777; line-height: 30px;}

.year_part {width: 100%; height:52px;}
.particle {
  float:left; width:146px; height: 100%; 
  margin-right:10px; padding:10px 12px;
  border:1px solid #c7c7c7; border-radius: 0.1rem;
}
.particle:last-of-type {margin: 0;}
.birth {width: 100%; height: 100%;}

.tel_part { float:left; width: 335px; height: 52px; 
  padding:10px 12px; border:1px solid #c7c7c7; border-radius: 0.1rem; }
.tel_btn_part {float:right; width: 115px; height: 52px; }

fieldset li.action .input_part{ 
  outline:2px solid #7a7; border-color:transparent;
  background-color: #efe;
}

input[type="button"], 
input[type="submit"] { cursor: pointer; background-color: #03C75A; color:#fff; }



/* --------------------------------- */
#footBox {
  width: 500px; height:50px; 
  margin:auto; 
  padding-bottom:10px; box-sizing: content-box;
  background-color: #fff;
}



/* 속성선택자
  선택 요소의 속성값을 선택하여 처리하는 선택자
  [속성명="값"] {} 으로 사용
  요소[속성명="값"] {}
  ----------------------------------------------
  요소[속성명^="값"] {}  : ^은 시작을   a[href^="http"] { }
  요소[속성명$="값"] {}  : $은 끝을   a[href$="com"] { }
  요소[속성명|="값"] {}  : |은 단어형식의 모든   a[class|="full"] { }  <a class="full-box wrap"></a>
  요소[속성명*="값"] {}  : *은 모든(전체의)      a[class*="a"] { }
  요소[속성명~="값"] {}  : ~은 분리가능한 단어(값)  a[class~="full"]{}  <a class="full box wrap"></a>
*/