@charset "UTF-8";
/* b_10_coupang_join_result.css */

#wrap { width: 800px; height: auto;}

.input_test {width: 300px;}

.input_test input{width: 30px; height: 30px; }
.input_test label { display: block; width: 100%; height:30px;  }
.input_test i {
  float:left; 
  width: 32px; height: 32px;
  background-image: url("../../img/coupang/check_icon.png");
  background-repeat: no-repeat;
  background-position: 50% -50px;
  background-size: initial;
  transition: all 300ms ease;
}
.input_test input { display:block; position: absolute; width: 0; height: 0;  z-index:-1; overflow: hidden;}
.input_test input:focus + label {  background-color: #faa; border:2px solid #f00;}
.input_test input:checked + label > i { background-position-Y:-6px; }

/* ------------------------------------------ */
.modal_area {display:none;}
.modal {
  --color-white :#fff; 
  --border-line1 : 1px solid #ccc;
  position: fixed; top:50%; left:50%; z-index:2000;
  width: 400px; height: auto;
  transform:translate(-50%, -50%);
  border-radius:0.1rem;  border:1px solid #ccc; 
  background-color: var(--color-white);}
.modal_bg {
  position: fixed; top: 0; left: 0; z-index:1500;
  width: 100%; height: 100%;  
  background-color: rgba(0,0,0,0.3);
}
.modal h3{ 
  width:100%; height:auto;   padding:1rem;
  border-bottom: var(--border-line1);
  /* background-color: var(--color-white); */ }
.content { 
  overflow: hidden;
  width:100%; height:400px;
  padding:1.5rem; padding-bottom: 0; margin-bottom: 1rem;
  /* background-color: var(--color-white); */ }
.content_inner {
  overflow-x:hidden; overflow-y: auto;
  width: 100%; height: 100%;
  padding-right:3rem;  box-sizing: content-box;
  word-break: break-all;  text-align:justify; }
.confirm_btn {
  width:100%; height:auto;
  padding:1rem; padding-top:30px;
  text-align: right;
  /* background-color: var(--color-white); */ }
.close_btn {
  position: absolute; top: 1rem; right: 1rem; z-index:10;
  width: 30px; height: 30px; background-color: #fdd;}
.close_btn button {width: 100%; height: 100%;}