@charset "UTF-8";
/* c_02_web.css */
/* * { margin: 0; padding: 0; border: 0;
box-sizing: border-box;} */

/* --------------------------- */
/* #wrap설명:
  1. wrap의 가로값은 1200을 기준으로 가로 가운데 배치해야한다.
  2. 이때, 내부에 존재하는 headBox가 상단에 fixed로 배치했다.
      - 그로인해 headBox뒤에오는 viewBox가 상단으로 올라갔다. 
      - 왜? headBox가 position:fixed로 되어서, 형제요소의 개념이 아닌 별도의 위치로 배치하는 (브라우저기준) 내용이 되었기 때문.
      - 그래서, viewBox에 내용을 화면에 온전히 보이게 만들기 위해
      - 조건 : headBox배경색이 불투명
      - wrap에 강제로 하위 내용이 배치할수 있도록 밀어내자!!
        (padding-top:100px;) 이다.
*/
#wrap {
  width: 1200px; height:auto; min-height:700px;
  margin:auto; 
  padding-top: 100px;
}

/* #headBox */
/* #headBox를 상단에 고정: position:fixed
    1. top 0, 가로 가운데 배치 (전체 가로 꽉차게):width100%
      - width100% 는? #wrap에 꽉찬거 아닌가?
      - 왜 아니지? fixed는 브라우저를 기준으로 처리
    2. 다른요소들보다 앞에 배치 :
    3. fixed를 처리함으로 인해 다른 요소(형제)들은? 
    4. 내부 요소는 가로 1200크기일때 가운데 배치?
*/
#headBox{
  position: fixed; top:0; left:0;  z-index: 1500;
  width:100%; height:100px; 
  padding:0 20px; padding-top: 60px; box-sizing: border-box;
  background-color: rgba(200,200,200,0.5);
}

  .head_wrapper {
    width: 1200px; height:40px;
    margin:auto; 
  }
    h1{
      float:left; width: 200px; height: 40px;
      background-color: #afa;
    }
    .navigation {
      float:right; width: 600px; height: 30px; 
      margin-top: 10px;
      background-color: #aff;
    }
    .navigation > ul {
      width: 100%; height: auto;
      background-color: #999;
    }
    .navigation > ul > li {
      float:left;
      width: 25%; height:auto;
      padding:0 5px;
    }

    .nav_title { width: 100%; height:30px; }
    .nav_title a {
      display: block;
      width: 100%; height: 100%; 
      text-align: center; line-height:30px;}

    .nav_list { 
      display: none;
      width: 100%; height: auto;
      color:#fff;
      background-color: #333;}
    .nav_list li{ width: 100%; height: 40px; margin-bottom:10px;}
    .nav_list a{
      display: block; width: 100%; height:100%;
      text-align: center; line-height: 40px;
    }

    .navigation:hover .nav_list {display: block;}
    .nav_title:hover {background-color: #171717; color:#fff; }
    /* .navigation li:hover > .nav_list {display: block;} */
    /* .nav_title:hover + .nav_list { display: block;} */

/* #viewBox */
/* 왜? headBox뒤에 붙을까? 해결방법은?
    - headBox 가 fixed처리되어있으니 headBox는 공중에 떠있어서 해당부분이 비어있다. 그래서 headBox자리에 viewBox가 자리를 차지한다.
    - 높이값이 300이지만 우리에겐 200만큼만 보이더라 ㅜㅜ
    - 우린 300을 원한다구.!
    - 그럼 실제로는 400만큼의 크기를 가져야 300이 보이는데 어케???
    - 상단에 100을 추가하자 ( 선택: margin/padding )
    - 그래!! padding-top이야! 
    - 그런데? 왜 안으로 들어가지?
    - reset에 box-sizing:border-box가 있어!!!
    - ???? 언제? 시른데? -> box-sizing:content-box
*/
#viewBox{
  width:100%; height:300px; background-color: #aaa;
  /* padding-top: 100px; box-sizing:content-box; */
}

/* #contentbox */
#contentbox{ width:100%; height:200px; }
  #contentbox > .con_area {
    float:left; width:400px; height:200px;
    padding:10px 30px; box-sizing: border-box;
  }
  .notice_area { background-color: #afd;}

  .con_part { width: 100%; height: 150px; border:1px solid #777; }
  .con_part ul { width: 100%; height:auto;  }
  /* .con_part ul:after {content:""; display: block; clear:both;} */

  .notice_area ul { 
    list-style:decimal; 
    padding:10px; padding-left:30px; box-sizing: border-box;}
  .notice_area li { width: 100%; height:25px; margin-bottom:10px; }

  .gallery_area {counter-reset:gal_li; background-color: #daf;}
  .gallery_area li:before { counter-increment:gal_li; content:counter(gal_li) ". "; }

  .gallery_area ul {display:flex; justify-content: space-between;}
  .gallery_area li {
    /* float:left;  */
    width:100px; height:150px;
    /* margin-right:19px;  */
    background-color: #fff;}  
  .gallery_area li:last-child {margin: 0;}

  .commercial_area { background-color: #afd;}

  /* 탭메뉴설정 가이드 */
  .con_part { display:none; }
  .con_area > h3:hover + .con_part { display: block; }


/* #otherBox */
#otherBox { 
  width: 900px; height:800px;
  margin:30px auto;
  background-image:linear-gradient(#aaf , #faa);
}

/* #footBox */
#footBox{
  width:100%; height:100px; 
  padding:30px 20px; padding-bottom:50px;
  background-color: #999;
}
  #footBox > h2 {
    float:left; width:200px; height:40px;
    background-color: #faa;
  }
  address {
    float:left; width:600px; height:30px; 
    margin-top:10px; margin-left:100px;
    background-color: #afa;
  }
  .family {
    float:right; width:200px; height:30px;
    margin-top:10px;
    background-color: #aaf;
  }
