@charset "UTF-8";
/* c_03_web.css */

/* layout common */
.container{  float:left; width:750px; }

/* design */
#wrap { width: 1000px; height: 650px; margin:auto; }

/* #headBox 
============================== */
#headBox{
  float:left; width:250px; height:650px;
  box-sizing: border-box; padding:10px;
  background-color: #fdf;} 
h1 { 
  width: 100%; height:50px; 
  margin-bottom: 20px;
  background-color: #999;}
h1 a { display: block; width: 100%; height: 100%;}

.navigation { width: 100%; height: auto;}
.navigation ul{ width: 100%; height: auto;}
.navigation li { 
  width: 100%; height:40px; box-sizing:border-box;
  border:1px solid #777;}
.navigation dl { width: 100%; height: 100%; }
.navigation dt {
  width: 100%; height: 100%; 
  padding:3px; box-sizing: border-box;
  background-color: #faa;}
.navigation dt a {
  display: block; width: 100%; height:100%; 
  text-align: center; line-height:36px;
  background-color: #ffa;}


.navigation dd {display: none;}

/* #viewBox 
============================== */
#viewBox{ height:350px; background-color: #ddd;} 

/* #conBox 
============================== */
#conBox{height:200px; background-color: #aaa; } 

/* #footBox 
============================== */
#footBox{ height:100px;  background-color: #ccc; } 
