@charset "UTF-8";
/* c_04_web.css */

/**
  [] logo : 200px × 40px, 로고는 글자로 대체
  [] navigation 마우스올리면 (hover) , hilight 처리(해제시 처리)
  [] 공지사항 첫 번째 클릭(Click), 팝업창(Layer Pop_up) 나타남
  [] 레이어 팝업창 내에 닫기 버튼을 두어서 클릭 사라짐
  [] html / css 유효성 검사 
*/

#wrap { width:1000px; height:650px; margin:auto; }

/* #headBox 
========================================= */
#headBox {
  float:left;
  width:250px; height:650px;
  padding:20px 25px; box-sizing: border-box;
  background-color: #ccc;}

  h1 { 
    width:200px; height:40px;
    background-color: #aaa;
    margin-bottom: 20px;
  }
  h1 a{
    display: block; width: 100%; height: 100%;
    text-align: center; line-height: 40px;
    font-size:1.2rem;
  }

  .navigation { width: 100%; height:auto; }
    .navigation ul { width: 100%; height:auto; }
    .navigation li { width: 100%; height: auto; }
    .navigation dl { width: 100%; height: auto; }
    .navigation dt {
      width: 100%; height:40px; 
      padding-bottom:3px; background-color: #fff; }
    .navigation dt:last-of-type {padding: 0;}
    .navigation dt a {
      display:block; width: 100%; height: 100%;
      text-align: center; line-height:40px; }
    .navigation dt a:hover {color:#fff; background-color: #333;}
    
    .navigation dd {
      /* display: none; */
      width: 100%; height:auto; background-color: #fff; 
      height: 0; overflow-y:hidden; transition:all 300ms linear;
    }
    .navigation dd a {
      display: block; width: 100%; height: 30px; margin-bottom:5px; 
      text-indent:10px; line-height:30px; } 
    .navigation dd a:hover {
      color:#fff; font-weight: 700; background-color: #333; }
    
    /* .navigation dl:hover > dd {display: block;} */
    .navigation dl:hover > dd {height:120px;}
    .navigation dl:hover > dt {background-color: #333; color:#fff;}

/* #viewBox 
========================================= */
#viewBox {
  float:left; width:750px; height:350px;
  background-color: #eee;
}

/* #conBox 
========================================= */
#conBox {
  float:left; width:750px; height:200px;
  background-color: #aaa;
}

/* #footBox 
========================================= */
#footBox {
  float:left; width:750px; height:100px;
  background-color: #777;
}