@charset "UTF-8";
/* c_04_web.css */

/**
  [] logo : 200px × 40px, 로고는 글자로 대체
  [] navigation 마우스올리면 (hover) , hilight 처리(해제시 처리)
  [] 공지사항 첫 번째 클릭(Click), 팝업창(Layer Pop_up) 나타남
  [] 레이어 팝업창 내에 닫기 버튼을 두어서 클릭 사라짐
  [] html / css 유효성 검사 
*/

#wrap { width:1000px; height:650px; margin:auto; }

/* #headBox 
========================================= */
#headBox {
  float:left;
  width:250px; height:650px;
  padding:20px 25px; box-sizing: border-box;
  background-color: #ccc;}

  h1 { 
    width:200px; height:40px;
    background-color: #aaa;
    margin-bottom: 20px;
  }
  h1 a{
    display: block; width: 100%; height: 100%;
    text-align: center; line-height: 40px;
    font-size:1.2rem;
  }

  .navigation { width: 100%; height:auto; }
    .navigation ul { width: 100%; height:auto; }
    .navigation li { width: 100%; height: auto; }
    .navigation dl { width: 100%; height: auto; }
    .navigation dt {
      width: 100%; height:40px; 
      padding-bottom:3px; background-color: #fff; }
    .navigation dt:last-of-type {padding: 0;}
    .navigation dt a {
      display:block; width: 100%; height: 100%;
      text-align: center; line-height:40px; }
    .navigation dt a:hover {color:#fff; background-color: #333;}
    
    .navigation dd {
      /* display: none; */
      width: 100%; height:auto; background-color: #fff; 
      height: 0; overflow-y:hidden; transition:all 300ms linear;
    }
    .navigation dd a {
      display: block; width: 100%; height: 30px; margin-bottom:5px; 
      text-indent:10px; line-height:30px; } 
    .navigation dd a:hover {
      color:#fff; font-weight: 700; background-color: #333; }
    
    /* .navigation dl:hover > dd {display: block;} */
    .navigation dl:hover > dd {height:120px;}
    .navigation dl:hover > dt {background-color: #333; color:#fff;}


/* #viewBox 
========================================= */

#viewBox {
  float:left; width:750px; height:350px;
  padding: 10px 50px;
  background-color: #eee;
}

.view_area {
  width: 100%; height: 100%; 
  border:1px solid #333;
  background-color: #afc;
} 

/* 가로형 슬라이드 배너 사용법 */
/*
.view_wrapper { 
  --slide-len:3;
  width:300%; height:100%; background-color: #fca; 
  width:calc( 100% * var(--slide-len));
}
.view_content {
  float:left; width:33.333333%; height:100%;
  width: calc(100% / var(--slide-len));
}
*/

/* 같은자리에 모여있는 형태로 사용 방법
  - 기준이 되는 요소에 relative, 
  - 보여줄 요소에 absolute
  - 처음 보여주어야 하는 요소에 z-index를 주어 앞으로 배치
  - 이후에 (뒤에) 오는 요소에는 z-index를 앞에 오는 요소의 낮은값으로 주어 뒤에 배치
  - 이외의 나머지는 보이지 않도록 처리
*/

.view_wrapper {
  position: relative;
  width:100%; height:100%; background-color: #fca; }

.view_content { position:absolute; top: 0; left: 0; width: 100%; height: 100%; }
.view_01 {z-index:10; background-color: #423CF6aa;}
.view_02 {z-index:9; background-color: #0A704Aaa;}
.view_03 {background-color: #B45E83aa;} 



/* #conBox 
========================================= */
#conBox {
  float:left; width:750px; height:auto;
}
  /* .info_content_area ------------------ */
  .info_content_area{
    float:left; width:50%; height:200px; padding:10px;
    background-color: #1CFD9033;}
    .tab_title{width: 100%; height: 30px;}
    .tab_title li { float:left; width:100px; height:30px; }
    .tab_title button {
      width: 100%; height: 100%; background-color: #fff;}
    .tab_title button:hover { background-color: #aaa; text-decoration:underline;} 
    .tab_title li.action > button { background-color: #333; color:#fff; font-weight: 700;} 

    .tab_content{width: 100%; height: 150px; border-top: 1px solid #333;}
    .tab_content > div { width: 100%; height: 100%; padding:5px; background-color: #fff;}
    /* 
    .notice{}
    .gallery{} 
    */
    .notice h3 { width: 100%; height: auto; padding-bottom: 5px; }
    .notice ul { width: 100%; height: auto; max-height:120px;}
    .notice li { width: 100%; height: 18px; margin-bottom:3px; line-height:18px; color:#575757; }
    .notice li:before{ 
      content:"\f54b";  
      font-family: 'Font Awesome 5 Free';
      font-weight: 900; font-size:0.5rem;
      color:#f06; margin-right:3px; 
    }
    .notice a:focus { 
      outline:0; 
      text-decoration: underline; text-decoration-color: #f06; 
      font-weight: 700; color:#333; }

  
  /* .sub_view_area ------------------ */
  .sub_view_area{
    float:left; width:25%; height:200px;
    background-color: #E5243433;
  }
  /* .location_link_area ------------------ */
  .location_link_area{
    float:left; width:25%; height:200px;
    background-color: #0B177833;
  }

/* #footBox 
========================================= */
#footBox {
  float:left; width:750px; height:100px; background-color: #777; }
#footBox > h2 {
  float:left; width:100px; height:100px; background-color: #fa0; }
.info_nav {
  float:left;width: 650px; height:50px; background-color: #aff; }
address {
  float:left; width:650px; height:50px; background-color: #aaf; }

