@charset "UTF-8";
/* c_05_web.css */


h1{
  background-color: #ccc;
  border-bottom:1px solid #057;
}

@supports ( var(--border-l2) ){
  h1{
    background-color: var(--color-gray2);
    border-bottom:var(--border-l2);
  }
}
