@charset "UTF-8";
/* common.css */

/* IR: image replace */
.blind_wrap a > span,
.blind_wrap button > span,
.blind { 
  display: block; position:absolute; z-index:-1;
  clip:rect(0 0 0 0);
  width: 0; height: 0; overflow: hidden; }

.blind_wrap a {
  display: block; width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.none { display: none; }

.clearfix { width:100%; height:auto; }
.clearfix:after, .clearfix::after{
  content:""; display: block; clear:both; width: 100%; height: 0; }
#wrap { margin:auto; }

