// Event.scss

.event_area {
  width: 100%; max-width: 1200px; height: auto;
  padding: 3rem 1rem; margin:1rem auto;
  background-color: #fff;
  border:1px solid #777;

  li{ 
    position: relative;
    display: flex; justify-content:flex-start; 
    width: 900px; height:auto; min-height:300px; margin:auto; margin-bottom:2rem; background-color: #fff;
    box-shadow:0.15rem 0.15rem 0.3rem rgba(0,0,0,0.5); 
    padding:1rem;
    border-radius:0.3rem;}
    .img_detail {
      width: 250px; height:100%; min-height:150px; max-height: 100%; margin-right:3rem; border-radius:0.4rem; background-color: #aaa;
      background-repeat: no-repeat; background-position:50% 50%;
    }
    .link_btn {
      width: 200px; height: 17px; margin-top: 1rem;
      > a{display: block; width: 100%; height: 100%; padding: 1rem; background-color: #05a; color:#fff; font-weight: 500;
      border-radius:0.4rem;}
    }
    dl{ width: 500px; }
}
.num { position: absolute; top: -1.5rem; left:-1rem; padding: 0.5rem; background-color: #f00; color:#fff; }
.more_btn { width: 2rem; height: 2rem; margin: 2rem auto;
  > button {width: 100%; height: 100%; font-size:2rem; background-color: #05a; color:#fff; border-radius: 100%;}
}


