/* Header.css */

#headBox {
  display:flex; justify-content: space-between; align-items:center;
  width: 100%; height:80px;
  background-color: #fff;
  border-bottom: 1px solid #333;
}

h1{ width:100px; height:60px; background-color: #f75;}
#navBox {width: 700px; height: 50px; 
  > ul { 
    display:flex; justify-content: flex-end; align-items:flex-end;
    width:100%; height:100%; }
  li { padding:0.5rem 2rem; border-right:1px solid #aaa; 
    &:last-child { border-right: 0;}
  }
}