// MainViewBox.scss
@use "sass:math";

.view_part { 
  .slide_btn { border-bottom: 1px solid #777; padding-bottom: 1rem; margin-bottom: 0.5rem;
    button { padding:0.3rem 1rem; background-color: #ddd; margin:0 1rem; }
  }

  $len: 5; 
  .view_contents {
    overflow: hidden;
    width: 100%; height: 500px; border:1px solid #999;
    background-color: #ddd;
    ul { width: 100% * $len; height: 100%; display: flex;}
    li { width: math.div(100% ,  $len); height: 100%; padding: 1rem; color:#fff; font-size: 2rem; 
      text-shadow:0.2rem 0.2rem 0.3rem #555;
      // display: none;
      &.on {display: block;}
    }
    
    .view_01{ background-color: #234FAE;}
    .view_02{ background-color: #E77ADE;}
    .view_03{ background-color: #7F3132;}
    .view_04{ background-color: #0CE69C;}
  }

}

@keyframes firstSlide {
  0% { margin-left: 100%; transition:none; }
  100% { margin-left:0; transition: margin 500ms ease;}
}