.App {
  width:100%; height:auto; min-height:1000px;
  padding:1rem; 
  box-sizing: border-box;
  background-color: #cff;
}

p {border-bottom: 1px solid #06a; margin-bottom: 1rem;}

dt {font-weight: 700;}