#viewBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 37.5rem;
  height: auto;
  margin: 3rem auto;
  padding: 0.2rem;
  padding-bottom: 4rem;
  border: 0.0625rem solid #333;
}

#viewBox h2 {
  width: 40%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.2rem;
  border-bottom: 1px solid #777;
  font-size: 1.5rem;
  color: #457;
}

#viewBox .slide_btn {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 30px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

#viewBox .slide_btn > button {
  padding: 0 1rem;
  margin: 0 0.5rem;
  background-color: #05a;
  color: #fff;
  border-radius: 0.25rem;
}

#viewBox .slide_btn > button:focus {
  background-color: #057;
  transform: scale(1.1);
  outline: 2px solid #fa0;
}

#viewBox .slide_btn > button:hover {
  background-color: #057;
  transform: scale(1.1);
}

#viewBox .slide_btn > button:active {
  background-color: #073;
  transform: scale(1.1);
  box-shadow: inset 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.4);
}

#viewBox .slide_btn > .next {
  order: 1;
}

#viewBox .indicator {
  position: absolute;
  bottom: 1rem;
  right: 0;
  z-index: 200;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2rem;
}

#viewBox .indicator .count_part {
  width: auto;
  height: 100%;
  padding: 0.2rem 1rem;
  text-align: right;
  text-decoration: none;
  background-color: #fa9;
  border-radius: 5rem;
}

#viewBox .indicator .total_count {
  font-weight: 700;
  color: #07a;
}

#viewBox .slide_content {
  width: 100%;
  height: 350px;
  border: 2px solid #f7a;
}

#viewBox .slide_wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 400%;
  height: 100%;
  background-color: #afa;
}

#viewBox .slide_wrapper > li {
  position: relative;
  z-index: 0;
  width: calc(100% / 4);
  height: 100%;
  padding: 3rem;
  color: #fff;
  font-size: 1rem;
  border: 1px solid #aaa;
  background-repeat: no-repeat;
  background-size: cover;
}

#viewBox .slide_wrapper > li:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#viewBox .slide_wrapper > li.slide_con_01 {
  background-image: url("../../multi/img/event/bg_01.png");
  background-color: #4BA686;
}

#viewBox .slide_wrapper > li.slide_con_02 {
  background-image: url("../../multi/img/event/bg_02.png");
  background-color: #609263;
}

#viewBox .slide_wrapper > li.slide_con_03 {
  background-image: url("../../multi/img/event/bg_03.png");
  background-color: #AA0CA7;
}

#viewBox .slide_wrapper > li.slide_con_04 {
  background-image: url("../../multi/img/event/bg_04.png");
  background-color: #ABA1F4;
}

#viewBox .slide_wrapper > li.slide_con_05 {
  background-image: url("../../multi/img/event/bg_05.png");
  background-color: #333;
}

#viewBox h3 {
  font-size: 2rem;
  font-weight: 600;
}

#viewBox p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  text-decoration: underline;
}

#viewBox .link {
  width: 12.5rem;
  height: auto;
}

#viewBox .link > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem 2rem 2rem 0.2rem;
  border: 1px solid #fff;
}

#viewBox .link > a:focus {
  font-weight: 600;
  background-color: #057;
  outline: 2px solid #fa0;
  border-color: transparent;
}

#viewBox .link > a:hover {
  background-color: #037;
  border-color: transparent;
}

#viewBox .link > a:active {
  background-color: #373;
}
