// slide.scss

@at-root #viewBox {
  display: flex; justify-content:space-between; flex-wrap:wrap;
  width: 37.5rem; height:auto; 
  margin: 3rem auto; padding:0.2rem;
  border:0.0625rem solid #333; 
  h2 { 
    width: 40%; 
    margin-top: 0.5rem; margin-bottom: 1rem; padding:0.2rem; border-bottom: 1px solid #777;
    font-size: 1.5rem; color:#457;
  }
  .slide_btn {
    display: flex; justify-content: flex-end; 
    width: 50%; height: 30px; margin-bottom: 0.5rem; margin-top: 1rem;
    > button {padding:0 1rem; margin:0 0.5rem; background-color: #05a; color:#fff; border-radius:0.25rem;
      &:focus { background-color: #057; transform: scale(1.1); outline:2px solid #fa0; }
      &:hover { background-color: #057; transform: scale(1.1);}
      &:active { background-color: #073; transform: scale(1.1); 
                box-shadow:inset 0.2rem 0.2rem 0.1rem rgba(0,0,0,0.4);}
    }
    > .next { order:1;}
  }

  .slide_content {
    width: 100%; height: 350px; 
    border:2px solid #f7a;
  }
  .slide_wrapper {
    display: flex; flex-wrap:nowrap;
    width:400%; height:100%; background-color: #afa;
    > li {
      width:calc(100% / 4); height: 100%;
      padding: 3rem; color:#fff;
      font-size:1rem; border:1px solid #aaa; 

      // 임시로 배경색상넣기
      &:nth-child(1){ background-color: #4BA686;}
      &:nth-child(2){ background-color: #609263;}
      &:nth-child(3){ background-color: #AA0CA7;}
      &:nth-child(4){ background-color: #ABA1F4;}
      &:nth-child(5){ background-color: #333;}
    }
  }
  h3{font-size: 2rem; font-weight: 600;}
  p{margin-bottom: 1.5rem; font-size: 1.2rem; text-decoration:underline;}
  .link { width:12.5rem; height:auto;
    > a { 
      display: flex; justify-content: space-between; align-items: center; 
      width: 100%; height: 100%; box-sizing: border-box;
      padding: 0.5rem 1rem; border-radius:0.2rem 2rem 2rem 0.2rem; border:1px solid #fff;
      &:focus {font-weight: 600; background-color: #057; outline:2px solid #fa0;  border-color:transparent}
      &:hover { background-color: #037; border-color:transparent}
      &:active { background-color: #373; }
    }
  }
}
