// headBox
$headH:50 !global;
$headH2:$headH *2;
$imgPath:'../../multi/img/base/';

#headBox {
  position: fixed; top: 0; left: 0; z-index:1000;
  width: 100%; 
  @include remUnit(height, $headH);
  background-color: #fff;

  @at-root h1 {
    width: 60px; height: 35px;
    background-color: #fff;

    @include mobile{
      @at-root .head_area{padding: 0;}
      position:absolute; left:0; right:0;  top:8px; margin:auto;
      background-color: #dfa;
    }

    & > a {      
      @include full('logo_color.png',$size:contain){
        @include laptop{
          background-image: url(#{$imgPath}+'logo_color_pc.png');
        }
      }; 
    }
  }

  @at-root .navi_inner {
    width:30px; height: 35px; 
    float:left;
    background-color: $color_primary_01;
  }


  // @include mobile{}
  @include tablet{ 
    @include remUnit(height,$headH); 
  }

  @include laptop{ 
    @include remUnit(height,$headH2); 
  }

  @include pc{ 
    @include remUnit(height,$headH2); 
  }
  
}

