/* c_10_smartphone.css */

/* (디자인기준: 320px) ~ 767px */
@media all and (max-width:767px) {
  /* %계산방법: 수치 / 기준값 * 100  */
  
  #wrap { width:100%; min-width:320px; min-height:600px;}
  #headBox{ height:100px;}
  #viewBox{ width:48.125%; min-width:154px; height:400px; background-color: #0af;}
    .view_area {width: 100%; height: 100%;}
  #conBox { display:none; }
  #infoBox {display: none;}
  #footBox{ height:140px; background-color: #afa;}

} /* (max-width:767px) =================================== */
