// sponsorBox

#sponsorBox {
  width:100%; height:auto;
  background-color: $color_white;

  @include mobile { height:400px; }
  @include tablet { height: 300px;}
  @include laptop { height: 100px;}
  @include pc { height: 100px;}
  
}// #sponsorBox 