/* a_base.css */
:root {
  --color-black:#333;
  --color-deepGn:#547d77;
  --color-lightGn:#33b88f;
  --color-sky:#95D2E9;
  --color-purple:#957de9;
  --color-deepY:#ba7;
}

/* common-layout */
.container { width:100%; height:100%; max-width:960px; margin:auto; background-color: rgba(255,255,255,0.1);}


/* design */
#wrap { width: 100%; height: auto; min-height:400px; background-color: #ddd;}
#headBox {
  position: fixed;  top: 0; left: 0; z-index: 1500;
  width:100%; background-color: var(--color-black);}
#viewBox { width:100%; background-color:var(--color-deepY);}
#contentBox { width:100%; margin:auto; background-color: var(--color-deepGn);}
#infoBox { width:100%; margin:auto; background-color: var(--color-purple);}
#footBox { width:100%; background-color: var(--color-black);}