/* c_mob_h.css */

/* (width:480px~767px) / design 기준 : 480px */
@media all and (min-width:480px) and (max-width:767px) {
  
  #headBox{ height:60px;}
  #viewBox{  height:720px;  padding-top: 60px;}
  #contentBox{ height:720px; }
  #infoBox{ height:720px; }
  #footBox{ height:60px; }


}
