/* d_tab.css */

/* (width:768px ~ 959px) / design 기준 :768px */
@media all and (min-width:768px) and (max-width:959px) {

  #headBox{ height:60px; }
  #viewBox{ height:450px; padding-top: 60px; }
  #contentBox{ height:210px; }
  #infoBox{ height:540px; }
  #footBox{ height:120px; }
  
}
